@reference "../globals.css";

.angularGroup {
    @apply absolute flex top-2/6;
}

.angular1 {
    @apply size-96;
    background: conic-gradient(from 180deg at 50% 50%, rgba(231, 82, 170, 0.18) -2.47deg, #EF59B2 1.81deg, #870151 76.1deg, rgba(24, 19, 26, 0.131006) 121.11deg, rgba(7, 22, 18, 0) 300.72deg, rgba(0, 0, 0, 0) 349.73deg, rgba(231, 82, 170, 0.18) 357.53deg, #EF59B2 361.81deg);
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.angular2 {
    @apply size-96;
    background: conic-gradient(from 180deg at 50% 50%, rgba(231, 82, 170, 0.18) -2.47deg, #EF59B2 1.81deg, #870151 76.1deg, rgba(24, 19, 26, 0.131006) 121.11deg, rgba(7, 22, 18, 0) 300.72deg, rgba(0, 0, 0, 0) 349.73deg, rgba(231, 82, 170, 0.18) 357.53deg, #EF59B2 361.81deg);
    transform: rotate(90deg);
}

.rect {
    @apply absolute inset-0 w-full h-full;
    filter: blur(120px);
    z-index: 2;

}

.rect1 {
    @apply absolute inset-0 w-full h-full;
    backdrop-filter: blur(80px);
    z-index: 1;
}

.eclipse {
    @apply absolute top-2/6 bg-[#C40074] blur-[200px] rounded-full w-8/12 h-72;
}